<h1>{{len .}} items</h1>
<table>
  <thead>
    <tr>
      <td>Item</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
    {{range $key, $value := .}}
    <tr>
      <td>{{$key}}</td>
      <td>{{$value}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
<style type="text/css">
td {
  padding: 0rem 1rem;
}
thead td {
  font-weight: bold;
}
</style>